<div class="logo">
  <div class="container">
    <img src="{{cover.source}}" alt="Logo">
  </div>
</div>

<div class="container">
  <h1>{{about}}</h1>
</div>

<ul class="photos">
  {{#each photos.data}}
    <li>
      <img src="{{this.images.0.source}}">
      <i class="fa fa-search-plus"></i>
    </li>
  {{/each}}
</ul>

<div class="container">
  <div class="opening">
    <div class="left">
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th>Open</th>
            <th>Close</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mon</td>
            <td>{{hours.mon_1_open}}</td>
            <td>{{hours.mon_1_close}}</td>
          </tr>
          <tr>
            <td>Tue</td>
            <td>{{hours.tue_1_open}}</td>
            <td>{{hours.tue_1_close}}</td>
          </tr>
          <tr>
            <td>Wed</td>
            <td>{{hours.wed_1_open}}</td>
            <td>{{hours.wed_1_close}}</td>
          </tr>
          <tr>
            <td>Thu</td>
            <td>{{hours.thu_1_open}}</td>
            <td>{{hours.thu_1_close}}</td>
          </tr>
          <tr>
            <td>Fri</td>
            <td>{{hours.fri_1_open}}</td>
            <td>{{hours.fri_1_close}}</td>
          </tr>
          <tr>
            <td>Sat</td>
            <td>{{hours.sat_1_open}}</td>
            <td>{{hours.sat_1_close}}</td>
          </tr>
          <tr>
            <td>Sun</td>
            <td>Closed</td>
            <td>Closed</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="left">
      <svg height="60"
           width="18.88"
           fill-rule="evenodd"
           xml:space="preserve"
           viewBox="0 0 2.76352 8.78169"
           image-rendering="optimizeQuality"
           xmlns="http://www.w3.org/2000/svg"
           shape-rendering="geometricPrecision"
           text-rendering="geometricPrecision">
        <path d="m.23023,2.25229h2.30306c.07163,0 .13023-.0586.13023-.13023s-.0586-.13023-.13023-.13023h-2.30306c-.07163,0-.13023.0586-.13023.13023s.0586.13023.13023.13023zm0,5.74393h2.30306c.07163,0 .13023-.0586.13023-.13023s-.0586-.13023-.13023-.13023h-2.30306c-.07163,0-.13023.0586-.13023.13023s.0586.13023.13023.13023zm1.13096-7.89619c.651,0 1.17894.52794 1.17894,1.17894 0,.22615-.06378.43741-.17423.61689h-2.00943c-.11045-.17948-.17423-.39074-.17423-.61689 0-.651.52794-1.17894 1.17894-1.17894zm1.01446,7.97844c-.19352.21222-.5722.35642-1.00761.35642s-.81409-.14421-1.00761-.35642h2.01522zm.1411-5.72618v5.28346h.01652c.12663,0 .23023.1036.23023.23023s-.1036.23023-.23023.23023h-.0366c-.0868.09145-.16695.16467-.27496.22982-.09489.05363-.19231.09462-.29602.12797s-.19808.05053-.30034.06448l.00019.0038c.0008.04599-.00925.08733-.03018.12819s-.04624.06413-.08019.08831c-.04367.02794-.08845.04155-.14028.0429-.03024-.00079-.05758-.00555-.08623-.01526-.04289-.01687-.07712-.04116-.10729-.076-.03882-.04937-.05818-.10498-.05716-.16792l.00011-.00231-.00683-.00078c-.10465-.01427-.20585-.03539-.30713-.0654-.11473-.0369-.22175-.08317-.32503-.14547s-.16766-.12985-.24594-.21232h-.00918c-.12663,0-.23023-.1036-.23023-.23023s.1036-.23023.23023-.23023h.00281v-5.28346h-.00281c-.12663,0-.23023-.1036-.23023-.23023s.1036-.23023.23023-.23023h.00831c-.10272-.19117-.15436-.39676-.1563-.61367 .00612-.24185.06465-.45266.18524-.66239 .11471-.17893.25158-.3158.43051-.43051 .21008-.1208.42098-.17914.66321-.18526 .26409.00667.49268.07594.7151.21853 .19109.13594.33074.29721.43767.50596 .08162.18042.12119.35571.12619.55367-.00108.12098-.01718.23781-.04959.3544-.02669.08986-.06232.17667-.1067.25927h.04943c.12663,0 .23023.1036.23023.23023s-.1036.23023-.23023.23023h-.01652zm-.83514,5.19154 .70772-.30935v-.74027l-2.02888.88684v.16278h1.32116zm-1.32116-1.32802 2.02888-.88684v-.78139l-2.02888.88684v.78139zm0-1.94663 2.02888-.88684v-.89106l-2.02888.88684v.89106zm1.15991,4.22185c.00346.01269.00533.02604.00533.03982 0,.08327-.06753.1508-.1508.1508s-.1508-.06753-.1508-.1508c0-.0135.0018-.0266.00513-.03905l.13881.0037 .15232-.00447zm-.22772-8.24021c-.62217.11642-1.03719.82905-.79539,1.45969 .12259-.21635.24859-.30965.48009-.30816-.17491-.49675-.02923-.86424.3153-1.15153z"></path>
      </svg>

      <h2>{{price_range}}</h2>

      <ul>
        {{#each whosin}}
          {{#if this.working}}
          <li>
            <img src="https://graph.facebook.com/{{this.id}}/picture">
            {{this.name}}
          </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="contact">
    <div class="left">
      <p>{{this.general_info}}</p>

      <p><a href="phone:{{phone}}">{{phone}}</a></p>

      <p><a href="mailto:email@wacky.com">email@wacky.com</a></p>

      <p>
        {{location.street}}<br>
        {{location.zip}}<br>
        {{location.city}}<br>
        {{location.country}}
      </p>

      <p><a href="https://goo.gl/58oEmD">View on map &gt;</a></p>
    </div>
    <div class="right">
      <form action="//formspree.io/jbonigomes@yahoo.com.br" method="POST">
        <div>
          <input type="email" name="_replyto" placeholder="my@email.com">
        </div>
        <div>
          <textarea name="message" placeholder="My message"></textarea>
        </div>
        <div>
          <input type="submit" value="SEND">
        </div>
      </form>
    </div>
  </div>

</div>

<div id="map"></div>

<div class="footer">
  <div class="container">
    &copy; The Wacky Barber 2015 - All rights reserved
  </div>
</div>
